<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949497735003-23prl15cd6gnbobhece5sgs3qb3qpr00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949497735003-23prl15cd6gnbobhece5sgs3qb3qpr00</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>949497735003-2rfruk5kfpnoj7df681ep4h71d9n0st9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNQIWWEyyV8XJPhaMgIBT_UNmH7y57IcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>949497735003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fe.newvymo2</string>
	<key>PROJECT_ID</key>
	<string>vymo-cb53b</string>
	<key>STORAGE_BUCKET</key>
	<string>vymo-cb53b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949497735003:ios:ed9a86c4a8278c41585c7e</string>
	<key>DATABASE_URL</key>
	<string>https://vymo-cb53b.firebaseio.com</string>
</dict>
</plist>